<h1>Lista de héroes</h1>
<hr>
<div class="row">
  <div class="col text-right">
    <button class="btn btn-primary" routerLink="/heroe/nuevo">
      <fa-icon [icon]="faPlus"></fa-icon>
      Agregar
    </button>
  </div>
</div>

<table 
*ngIf="!loader && heroes.length > 0"
  class="table table-striped mt-3">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Poder</th>
      <th scope="col">Otro</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let heroe of heroes; let id = index">
      <th scope="row">{{id+1}}</th>
      <td>{{heroe.name}}</td>
      <td>{{heroe.power}}</td>
      <td>
        <span *ngIf="heroe.alive" class="badge badge-success">Vivo</span>
        <span *ngIf="!heroe.alive" class="badge badge-danger">Muerto</span>
      </td>
      <td>
        <button 
          [routerLink]="['/heroe', heroe.id]"
          class="btn btn-info mr-1">
          <fa-icon [icon]="faPen" [spin]="false" ></fa-icon>
        </button>
        <button 
          (click)="deleteHeroe(heroe, id)"
          class="btn btn-danger">
          <fa-icon [icon]="faTrash" [spin]="false"></fa-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="!loader && heroes.length === 0" class="alert alert-warning text-center mt-3" role="alert">
  <h4 class="alert-heading">No hay registros</h4>
  <p>
    <fa-icon [icon]="faExclamation" [spin]="false" size="5x"></fa-icon>
  </p>
</div>

<div *ngIf="loader" class="alert alert-info text-center mt-3" role="alert">
  <h4 class="alert-heading">Cargando</h4>
  <p>
    <fa-icon [icon]="faSpinner" [spin]="true" size="5x"></fa-icon>
  </p>
</div>