<h1>Lista de héroes</h1>
<hr>
<div class="row">
  <div class="col text-right">
    <button class="btn btn-primary" routerLink="/heroe/nuevo">
      <fa-icon [icon]="faPlus"></fa-icon>
      Agregar
    </button>
  </div>
</div>

<table class="table table-striped mt-3">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Poder</th>
      <th scope="col">Otro</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<div class="alert alert-warning text-center mt-3" role="alert">
  <h4 class="alert-heading">No hay registros</h4>
  <p>
    <fa-icon [icon]="faExclamation" [spin]="false" size="5x"></fa-icon>
  </p>
</div>